body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../images/subtle_white_feathers.png");
}

table.fixed-width-table {
    table-layout: fixed;
    width: 100%;
    /*padding: 0rem*/
}

select {
    padding: 7px;
    width: 4rem;
    margin-left: 0.5rem;
}

td, th {
    text-align: center;
}

table input[type="button"] {
    margin: 0rem;
}

.hifid {
    min-width: 500px;
    /*background-color: #ddcd45;*/
}

/* Override the paper padding to make more room for the table*/
.paper {
  /*background-color: #fff;*/
  /*border: 1px solid #c1c0bd;*/
  /*-moz-box-shadow: -1px 5px 35px -9px rgba(0,0,0,.2);*/
  /*-webkit-box-shadow: -1px 5px 35px -9px rgba(0,0,0,.2);*/
  /*box-shadow: -1px 5px 35px -9px rgba(0,0,0,.2);*/
  /*margin-bottom: 1rem;*/
  /*margin-top: 1rem;*/
    /*flex-wrap: wrap;*/
    /*padding: 1rem*/
}