body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../images/subtle_white_feathers.png");
}

.minwid {
    /* keep our table container big enough*/
    min-width: 18rem;
}

.col {
    /* decrease the default padding */
    padding: 0.5rem;
}

.paper {
    /* decrease the default margin */
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0.5rem;
}

.paper-border {
    /* for other elements to have the same border as paper */
    border: 1px solid #c1c0bd;
}

.split-nav {
    /* nav doesn't have a border by default */
    border: 1px solid #c1c0bd;
}

.paper.small-text {
    /* fit more in each paper element */
    font-size: 0.75rem;
}

input {
    font-size: 0.75rem;
    width: 100%;
    padding: 0.2rem;
}

select {
    font-size: 0.75rem;
    padding-bottom: 0.15rem;
    padding-top: 0.15rem;
    padding-left: 0.0rem;
    padding-right: 0.0rem;
    width: 4.5rem;
}

table input[type="button"] {
    font-size: 0.75rem;
    padding: 0.2rem;
}

table th input[type="button"] {
    padding: 0.2rem;
}

div table th tr td {
    /* Make the table cells a little smaller */
    padding: 0.1rem;
}

.word-wrap {
    word-wrap: break-word;
}

.no-margin-bottom {
    margin-bottom: 0rem;
}