body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../images/subtle_white_feathers.png");
}

.minwid {
    /* keep our table container big enough*/
    min-width: 20rem;
}

.thinmargin {
    /* not currently used */
    margin: 0.5rem;
}

.col {
    /* decrease the default padding */
    padding: 0.5rem;
}

.paper {
    /* decrease the default margin */
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0.5rem;
}

.paper-border {
    /* for other elements to have the same border as paper */
    border: 1px solid #c1c0bd;
}

.split-nav {
    /* nav doesn't have a border by default */
    border: 1px solid #c1c0bd;
}

.small-text {
    font-size: 0.75rem;
}

input {
    font-size: 0.75rem;
}

select {
    font-size: 0.75rem;
    padding: 0.25rem;
    width: 5rem;
}

table input[type="button"] {
    font-size: 0.75rem;
}

.word-wrap {
    word-wrap: break-word;
}

.no-margin-bottom {
    margin-bottom: 0rem;
}